<h2> Login </h2>

<form action="/newuser" method="Post">
  Email<input type="email" name="email"><br>
  Password<input type="password" name="password"><br>
  <input type="submit" value="submit" id="submit">
</form>

<h2> Sign Up</h2>

<form action="/newuser" method="Post">
  Email<input type="email" name="email"><br>
  Password<input type="password" name="password"><br>
  <input type="submit" value="submit" id="submit">
</form>

